name: PostgreSQL for GitHub Actions

on:
  pull_request:
   branches: [develop, master]
   paths: [database/schemafile.sql/**]

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:
  
    - name: Checkout Repository
      uses: actions/checkout@v1
    
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Connecting to PostgreSQL
      uses: azure/postgresql@v1
      with:
        server-name: "infrapostgres.postgres.database.azure.com"
        connection-string: ${{ secrets.AZURE_POSTGRESQL_CONNECTION_STRING }}
        plsql-file: "database/schemafile.sql"

# Azure logout 
    #- name: logout
     # run: |
     #   az logout
