name: Create Release 

on:
  workflow_run:
     workflows: ["Nodeapp","Reactapp"]
     types: [completed]
     branches: [master]
     
jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion== 'success' }}
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
            
    - name: Setup Node.js 
      uses: actions/setup-node@v2
      with:
        node-version: '16'  
        
  #  - name: Download from React Artifact
  #   uses: actions/download-artifact@v3
  #    with:
  #      name: React_Build
  #       working-directory: reactapp
  #      path: ./reactapp/build
  #       
  #  - name: Download from Node artifact
  #   run: echo "Download from Artifact"
  #  uses: actions/download-artifact@v3
  #      with:
  #       name: Node_build
  #       working-directory: nodeapp
  #      path: ./nodeapp/build
        
    - name: Add Build Assets for Release
      run: |
         zip -r Node_build.zip . -i Node_Build
         zip -r React_build.zip . -i React_Build
      
    - name: Create a Release
      run: npx semantic
      env:
         GITHUB_TOKEN: ${{ secrets.SEMANTIC_TOKEN1 }}   
